<%= render 'shared/header' %> 

<div class="container">
  <div class="container">
    <div class="top">
      <div class="top_exhibit">
        <div class="top_exhibit_icon">
          <a class="top_exhibit_icon-link" href="/arts/new"><i class="fas fa-palette"></i></a>
        </div>
        <div class="top_exhibit_text">
          <a class="top_exhibit_text-link" href="/arts/new">出典する</a>
        </div>
      </div>
      <%# <div class="top_search"> %>
        <%# <div class="top_search-icon"> %>
          <%# <i class="fas fa-search"></i> %>
        <%# </div> %>
        <%# <div class="top_search-text"> %>
          <%# ARTを探す %>
        <%# </div> %>
      <%# </div> %>
    </div>

    <div class="content">
      <% if @arts.present? %>
        <% @arts.each do |art| %>
          <div class="content_image">
          <%= image_tag "#{art.image_url}", class: 'content_image-link', alt: '作品の画像' %>
            <%# <a href="/arts/<%= art.id %>
            <%# <%= image_tag "#{art.image_url}", class: 'content_image-link', alt: '作品の画像' %>
            <%# </a> %>
          </div>
          <div class="content_title">
            <%= art.title %>
          </div>
          <div class="content_status">
            <div class="content_status_artist">
              <%= art.user.name %>
            </div>
            <div class="content_status_price">
            <% unless art.price == 0 %>
              <%= art.price %><span class="content_status_price-unit">円</span>
            <% else %>
              <span class="content_status_price-unit">価格査定中</span>
            <% end %>
            </div>

          <% unless art.status == "1" %>
          <div class="content_buy">
            売約済み
          </div>
          <% else %>
            <div class="content_status_icon">
              <div class="content_status_icon_i">
                <a href="/arts/<%= art.id %>">
                  <i class="fas fa-coins content_status_icon_i-link"></i>
                </a>
                <a href="/arts/<%= art.id %>">
                  <div class="content_status_icon_i-more">
                    入札/詳細へ
                  </div>
                </a>
              </div>
            </div>
          <% end %>
          </div>

        <% end %>
      <% else %>
        まだ出典作品はありません
      <% end %>
    </div>


  </div>
</div>

<%= render 'shared/footer' %>