<div class="container">
  <%= form_for @art do |f| %>
    <div>
    出典する
  </div>
    作品のタイトルを入力
    <%= f.text_field :title %>
    作品の画像をアップロード
    <%= f.file_field :image_url %>
    作品の説明を入力
    <%= f.text_area :description %>
    <%= f.hidden_field :price, value: 0 %>
    <%= f.hidden_field :value_point, value: 50 %>
    <%= f.hidden_field :status, value: 1 %>
    <%= f.submit 'アップロードする'%>
  <% end %>
</div>