<%= render 'shared/header' %> 

<div class="container">
  <div class="arts_new_area">
    <%= form_for @art do |f| %>
    <div class="arts_new_area_title">
      作品を出典する
    </div>
    <div class="arts_new_area_head">
      作品のタイトルを入力
    </div>
      <%= f.text_field :title, class: "arts_new_area_box" %>
    <div class="arts_new_area_head">
      作品の画像をアップロード
    </div>
      <%= f.file_field :image_url, class: "arts_new_area_image" %>
    <div class="arts_new_area_head">
      作品の説明を入力
    </div>
      <%= f.text_area :description, class: "arts_new_area_disbox" %>
      <%= f.hidden_field :price, value: 0 %>
      <%= f.hidden_field :value_point, value: 50 %>
      <%= f.hidden_field :status, value: 1 %>
      <%= f.submit '出典する', class: "arts_new_area_btn"%>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>