<%= render 'shared/header' %>         

<div class="content_show">
  <div class="content_show_image">
    <%= image_tag "#{@art.image_url}", class: 'content_show_image-link', alt: '作品の画像' %></a>
  </div>
  <div class="content_show_title">
    <%= @art.title %>
  </div>
  <% if @art.description.present? %>
    <div class="content_show_description">
      <%= simple_format(@art.description) %>
    </div>
  <% else %>
  <% end %>
  <div class="content_show_status">
  <% if @art.user.image_url.present? %>
    <div class="content_show_status_avator">
      <%= image_tag "#{@art.user.image_url}", class: 'content_show_status_avator-image', alt: 'アーティストの画像' %></a>
    </div>
  <% else %>
  <% end %>
    <div class="content_show_status_artist">
      <%= @art.user.name %>
    </div>
  <% if @art.user.introduction.present? %>
    <div class="content_show_status_introduction">
      <%= simple_format(@art.user.introduction) %>
    </div>
  <% else %>
  <% end %>
    <div class="content_show_status_grayback"> 
      <div class="content_show_status_grayback_pricelabel">
        作品の価格
      </div>
      <div class="content_show_status_grayback_price">
      <% unless @art.price == 0 %>
        <%= @art.price %><span class="content_show_status_grayback_price-unit">円</span>
      <% else %>
        <span class="content_show_status_price-unit">価格査定中</span>
      <% end %>
      </div>
    </div>
  </div>

  <div class="content_show_comment">
    <div class="content_show_comment_title">
      コメント
    </div>
    <% @comments.each do |comment| %>
    <div class="content_show_comment_user">
    <%= comment.user.name %>
    </div>
    <div class="content_show_comment_text">
    <%= comment.text %>
    </div>
    <% end %>
  
    <% unless current_user.id == @art.user.id %>
      <div class="content_show_comment_form">
        <%= form_tag("/arts/#{@art.id}/comments", method: :post) do %>
          <%# <%= render partial:"comments", locals: {comments: @comments} %> 
          <div class="content_show_comment_form_textarea">
            <textarea cols="34" name="text" rows="4" id="comarea" class="content_show_comment_form_textarea-box"></textarea>
          </div>
          <div class="content_show_comment_form_input">
            <input type="submit" value="コメントする" class="content_show_comment_form_input-btn">
          </div>
        <% end %>
        <div class="content_show_comment_form-point">
        あなたの入札限度額は「<%= current_user.pc %>PC」です
        </div>
      </div>
    <% else %>
      <div class="content_show_comment_form">
        <%= form_tag("/arts/#{@art.id}/comments", method: :post) do %>
          <%# <%= render partial:"comments", locals: {comments: @comments} %> 
          <div class="content_show_comment_form_textarea">
            <textarea cols="34" name="text" rows="4" id="comarea" class="content_show_comment_form_textarea-box"></textarea>
          </div>
          <div class="content_show_comment_form_input">
            <input type="submit" value="返答する" class="content_show_comment_form_input-btn">
          </div>
        <% end %>
      </div>
      <div class="content_show_check_form">
        <%= form_for @art do |f| %>
        <div class="content_show_check_form-sell">
          この作品を売約済みにしますか？
        </div>
          <%# <%= f.check_box :status [checked_value = "1", unchecked_value = "0"]%>
          <%= f.check_box(:status, {},checked_value = "0",unchecked_value = "1" ) %>
          <%= f.submit '更新する'%>
        <% end %>
      </div>
    <% end %>
  </div>
   <a class="btn" href="/arts">一覧へ戻る</a>
</div>

<%= render 'shared/footer' %>